.offline-exhibitionInfo-container {
  background-color: rgba(255, 255, 255, 0.8);
  height: 50%;
  width: 90%;
  max-width: 3000px;

  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.offline-exhibitionInfo-container .title {
  height: 20%;
  width: 100%;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}
.offline-exhibitionInfo-container .body {
  height: 70%;
  width: 100%;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}
.offline-exhibitionInfo-container .body .poaster {
  height: 100%;
  width: 100%;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}
.offline-exhibitionInfo-container .body .descript {
  height: 100%;
  width: 100%;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}
.offline-exhibitionInfo-container .link {
  height: 10%;
  width: 100%;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}
