.exhibition-show-container {
  background-color: rgba(255, 255, 255, 0.8);
  height: 70%;
  width: 70%;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.exhibition-show-container .inner {
  height: 95%;
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exhibition-show-container .inner .content {
  height: 1000px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

/* .exhibition-show-container .inner .carousel-inner {
  height: 1000px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
} */
