.communityPage {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.communityPage .community-main {
  width: 100vw;
  max-width: 3000px;
  align-items: center;
  justify-items: center;
}



.nav-item.dropdown.show a {
  color: #a7831a !important; /* #daa520 #f3ca4d */
}

.nav-link{
  color: #a7831a;
}

#navbarDropdown {
  color: #a7831a;
}