.landing-container {
  background-color: white;
  height: 100%;
  width: 90%;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-radius: 50px;
}
